
.bg-theme {
  background-color: var(--color-background);
}

.text-theme {
  color: var(--color-text-primary);
}

.bg-input {
  background-color: var(--color-input);
}

.btn-theme {
  background-color: var(--color-btn-primary);
  color: white;
  transition: background-color 0.3s ease;
}

.btn-theme:hover {
  background-color: var(--color-btn-primary-hover);
}

.card-theme {
  background-color: var(--color-background);
  color: var(--color-text-primary);
}

.text-secondary {
  color: var(--color-text-secondary);
}