@import "tailwindcss";
/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* Define the dark mode variant */
@custom-variant dark (&:where(.dark, .dark *));

/* Define theme variables */
@theme {
  --color-background: #ffffff;
  --color-text-primary: #000000;
  --color-text-secondary: #59738c;
  --color-text-hard-secondary: #808080;
  --color-input: #e8edf2;
  --color-header-background: #e5e8eb;

  /* --- Consolidated Button Colors --- */
  --color-button-primary: #367dc9;
  --color-button-primary-hover: #135296;
  --color-button-text: #e2e8f0;
}

/* Define overrides for the dark variant */
@layer base {
  @variant dark {
    --color-background: #0f1a24;
    --color-text-primary: #e2e8f0;
    --color-text-secondary: #94a3b8;
    --color-text-hard-secondary: #ffffff;
    --color-input: #1e293b;
    /* header-background will automatically be inherited unless you override it */

    /* --- Dark Mode Button Overrides --- */
    --color-button-primary: #369eff;
    --color-button-primary-hover: #2563eb;
    --color-button-text: #e2e8f0;
  }
}

/* Apply the base background color */
html {
  background-color: var(--color-background);
  /* Add a transition for smooth color changes */
  transition-property: background-color, color;
  transition-duration: 200ms;
}
